[submodule "casadi_f16"]
	path = python/casadi_f16
	url = https://github.com/jgoppert/casadi_f16.git
[submodule "python/pyecca"]
	path = python/pyecca
	url = https://github.com/jgoppert/pyecca
[submodule "ros/src/px4"]
	path = ros/src/px4
	url = https://github.com/PX4/Firmware
